.body-table {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-bottom: 50px;
}

.currency-table {
    width: 500px;
    margin-top: 30px;
    border: 1px solid rgb(209, 57, 57);
}

.currency-table h3 {
    text-align: center;
}

.rate {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    margin: 10px;
    border-bottom: 1px dotted rgb(209, 57, 57);
    font-family: 'Times New Roman', Times, serif;
}